.popup__close-button {
	background-image: url("../../../images/close__icon.svg");
	width: 32px;
	height: 32px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	position: absolute;
	top: -40px;
	right: -40px;
	transition: opacity 0.5s ease-in-out;
}

.popup__close-button:hover {
	opacity: 0.6;
}
